

.main-dash {
  background-image: linear-gradient(to right, #0fb37c, #9cf473);  
  color: rgb(255, 255, 255);
  padding: 20px;
  height: 93.5vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container-dash {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
 border-radius: 10px;
  height: 70vh;
  color: linear-gradient(to right, #0fb37c, #9cf473); 
}

.data-from-redux {
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: black;
  justify-content: center;
}

.user-info {
  text-align:center;
  margin-top: 20px;
}

.user-info div {
  margin-bottom: 10px;
}

button {
  /* background-color: rgb(38, 206, 114);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer; */

  display: block;
  width: 90%;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #0fb37c, #9cf473); 
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

button:hover {
  background-color: linear-gradient(to right, #0fb37c, #9cf473);
}

@media only screen and (max-width: 400px) {
  .container-dash {
    width: 250px;
  }
}